*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: rgb(250, 230, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    width: 80%;
    height: 80%;
    background-color: #f3f3f3;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid #a3a3a3;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.main .nav1{
    width: 100%;
    background-color: rgb(23, 23, 46);
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    text-align: center;
}
.main .nav1 h1{
    text-align: center;
    color: #ffff;
}
.main .sidebar{
    background-color: #e4e2ff;
    width: 28%;
    padding: 20px;
    border-radius: 20px;
}
.main .sidebar h2{
    margin-bottom: 20px;
}
.main .sidebar ul li{
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color:rgb(23, 23, 46);
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.main .sidebar ul li:hover{
    transform: translateX(5px);
}
.main .body_main{
    background-color: #c9c5ff;
    width: 70%;
    height: 80%;
    padding: 20px;
    border-radius: 20px;
}
